<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <!--This context load listener will tie the lifecycle of Spring
        to the lifecycle of Tomcat-->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!--Spring utilizes the front controller design pattern
        It already has a dispatcher servlet-->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--By default, Tomcat wants us to create another file (dispatcher-servlet.xml)
            we will just reference our bean config file we already created instead
        -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/applicationContext.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>